.app-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.app-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;  
  display: flex; /* Use flex to arrange columns side by side */
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}