.footer {
  position: relative;
}

.social {
  position: fixed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(186, 85, 211, 0.4);
}

.icon1,
.icon2,
.icon3 {
  margin: 10px 0;
  font-size: 24px;
  background-color: rgba(170, 168, 168, 0.2);
  cursor: pointer;
}

.icon1 {
  color: #4267b2;
}

.icon2 {
  color: #0e76a8;
}

.icon3 {
  color: #e4405f;
}

.ieee {
  width: 250px;
  height: auto;
  position: fixed;
  top: 550px;
  right: 1146px;
  cursor: pointer;
}

.regim {
  width: 100px;
  height: auto;
  position: fixed;
  top: 560px;
  right: 1250px;
  cursor: pointer;
}

.sig {
  width: 120px;
  height: auto;
  position: fixed;
  left: 1225px;
  top: 545px;
  cursor: pointer;
}

/* Your other CSS rules here */

/* Styling for the modal */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 5px solid #0857eb;
  /* Add a light mauve border to the modal */
  box-shadow: 20px 20px 20px rgba(123, 10, 236, 0.2);
  /* Adjust the shadow effect */
  position: relative;
  text-align: center;
    /* Adjust width and height */
    height: 500px;
    width: auto; /* You can adjust the width as needed */
    max-width: 1100px; /* Set a maximum width to maintain readability */
     /* Adjust the height based on content */
  }


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  cursor: pointer;
  color: #0a5263;
  text-shadow: #0857eb;
}

/* Styling for the images within the modal */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.person-group {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.person {
  text-align: center;
  margin: 0 10px;
}

.ieee12,
.regim12,
.sig12 {
  width: 100px;
  height: auto;
  margin: 10px;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.icons a {
  margin: 0 5px;
  color: #0e76a8;
  font-size: 20px;
}

/* Increase the font size of the paragraph */
.modal-content p {
  font-size: 20px;
  color: brown;
}

/* Hand cursor for the logo */
.ieee:hover,
.regim:hover,
.sig:hover {
  cursor: pointer;
}
/* Add this to your CSS */
