@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,p,h4,a{
  color: #772583;
}

body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background: #e5d2e5;

}

ul
{
list-style-type: none;
}

a{
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.btn{
  padding: 20px 32px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: transparent;
  color:#772583;
  cursor: pointer;
}

.btn-light{
  background: #cf9fc8;
}

.btn:hover{
  background: #cf9fc8;

}